extends layout

mixin list(children)
  //- pre= JSON.stringify(children, null, '  ')
  if children && children.length
    each item in children
      if !item.has_route
        .item-container
          h4.item-name(href='#'+item.name)!= item.name
          div.item-note!= item.note
          .item-children-container
            if item.children
              +list(item.children)
      else if item.level == (level+1)
        .item-container
          //- h4.ui.header.item-name
          a.item-link(href=item.path)= item.path

block body
  .ui.text.container
    h1.ui.dividing.header(style='padding-top:3rem')!= name
    p!= note
    
    div(style='margin-left: -3rem')
      +list(children)
    
    a.ui.fluid.button(href=parent.path) Back